body{
	background: url('../imgs/biblio.jpg');
}
h1{
	text-align: center;
	color:white;
}
table{
	border-spacing: 0px;
	border-collapse: collapse;
	width: 90%;
	margin-top:30px !important;
	margin: 0 auto;
	text-align: center;
	border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
}

tr,td,th{
	background-color: #fffefea3;
	padding: 10px;  
	
}