  
    .tabla tr{
        transition: 0.5s;
        background-color: grey;
        height: 40px;
        
    }
        
   
    .tabla tr:hover{
        background-color: aqua;
        /*height: 500px;*/
    }
        
    .tabla tr:active{
        background-color: red;
    }
        
    .tabla tr:last-child{
        height: 200px;
    }
        
    .tabla{
        width:100%;
        float: right;
        border-color: black;
        border: 2px solid black;
        background-color: black;
        box-shadow: 5px 5px 3px 2px rgba(0,0,0,0.7)
    }
    
    .tabla th{
        background:#0047b3;
        color:  white;
        height: 50px;
    }

    .tabla td a{
    color:#002c59;
    }
        
    .tabla td a:hover{
        color:#001021;
        transform: scale(1.04);
    }
        
    .tabla td{
        background-color:#e5e5e5;
        border: 1px solid black;
    }
        
  
	.insert{
            
        color: black;
        font-size: 35px;
        text-shadow: rgba(0,0,0,0.4) 3px 5px 1px;
        max-width: 500px;
        transition:0.4s;
    }
        
    .insert:hover{
        color: rgba(48,38,12,1);
        text-shadow: rgba(0,0,0,0.7) 3px 5px 1px;
    }
        

    
    body {
        
        /* Claro background-color: #C8D5B9;*/
        background-color:url(content_texture.png no-repeat);
    }


	

    
    .for{
    
        width: 500px;
        padding: 30px;
        background: #FFFFFF;
        margin: 50px auto;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
        -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
        -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

    }


    .for input{

        outline: none;
        display: block;
        width: 100%;
        padding: 7px;
        border: none;
        border-bottom: 1px solid #ddd;
        background: transparent;
        margin-bottom: 10px;
        height: 45px;
    }

	.for textarea{
	    outline: none;
        display: block;
        width: 100%;
        padding: 7px;
        border: none;
        border-bottom: 1px solid #ddd;
        background: transparent;
        margin-bottom: 10px;
        height: 45px;
	}

    .for input[type="button"], 
    
    .for input[type="submit"]{
   
        background: linear-gradient(to bottom,#212e5b,blue) ;
        border: 1px solid #27A0A0;
        display: inline-block;
        cursor: pointer;
        color: #FFFFFF;
        font-size: 14px;
        padding: 8px 18px;
        text-decoration: none;
        text-transform: uppercase;
        transition: 1s;
    }
    .for input[type="button"]:hover, 
    .for input[type="submit"]:hover {
    
        transform: scale(1.05);
        box-shadow: 5px 5px 4px 2px rgba(0,0,0,0.75);
    }



    .for{
        text-shadow: 0.5px 0.5px #2CBBBB ;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }
		
            
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #262626;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 27px;
        color:#c1c1c1;
        display: block;
        transition: 0.3s;
    }

    .enlacesidenav{
        border-top: 1px solid #c1c1c1;
    }
        
    .sidenav a:hover {
        color: orange;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
    }
        
    .sidenavmenu {
        font-size:50px;
        cursor:pointer;
        color:black;
        position: fixed;
        background:transparent;
        margin-top: -8px;
        margin-left: -8px;
        transition:0.4s;
    }
        
    .sidenavmenu:hover{
        color:darkorange;
    }
        
    .sidenav input{
        background-color: grey;
        border: 3px solid white;
        color: white;
        border-radius: 50px;
        position: absolute;
        right: 54px;
        top: 68px;
        height: 30px;
        transition: 1s;
        color: black;
        font-size: 25px;
        max-width: 180px;
    }
        
        
    .sidenav input:focus{
        background-color:#302e2e;
        color:white;
    }
    
    .sidenav input::placeholder{
        color: black;
    }
        
    
    