#mapa{
    pointer-events:none;
    z-index: 2;
    position: fixed;
    overflow: visible;
}
#sotano{
    background-image: url("sotano.png");
}
#primer_piso{
    background-image: url("plantabaja.png");
}
#segundo_piso{
    background-image: url("planta1.png"); 
}
#tercer_piso{
    background-image: url("planta2.png"); 
}
#tejado{
    background-image: url("tejado.png");
}

#subir_piso{
    bottom: 0px;
    margin-bottom: 100px;
    z-index: 2;
    position: fixed;
    background-image: url("svg/subirpiso22.svg");
    background-size: 100% 100%;
    width: 30px;
    height: 30px;
}
#mapa > .pisos > img{
    width:100%;
    height: 100%;
}
#bajar_piso{
  
    bottom: 0px;
    margin-bottom: 60px;
    z-index: 2;
    position: fixed;
    background-image: url("svg/bajarpiso22.svg");
    background-size: 100% 100%;
    width: 30px;
    height: 30px;
}
#boton_mapa{
    bottom: 0px;
    margin-bottom: 10px;
    z-index: 2;
    position: fixed;
    background-image: url("svg/pinned.svg");
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
    left: 0.5%;
    
}
.pisos{
    background-size: 100% 100%;
    opacity: 0.6;
    position: absolute;
    pointer-events: none;
    width: 100%;
    /* height: 100%; */
    transition: left .5s;
}
.piso_cerrado{
    left:-300%;
}
.piso_abierto{
   left:0.5%;
}

.cerrado{
    transition: left .5s;
    left: -300%;
}
.abierto{
    transition: left .5s;
    left: 0.5%;
}
.boton{
    cursor: pointer;
}
.puntos{
    pointer-events: auto;
    cursor: pointer;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
}
.punto_seleccionado{
    pointer-events: auto;
    cursor: pointer;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
	background: cyan;
	margin-left: -2px;
	margin-top: -2px;
}
