/* ESTILOS GENERALES */

     html {
        height: 100%;
        -webkit-font-smoothing: antialiased;
        box-sizing: border-box;
      }
     body {
        margin: 0;
        padding: 0;
        cursor: default;
        width: 100%;
        height: 100%;
      }
	 .contenedor {
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 100%;
        max-width: 100%;
      }
      #panorama {
        height: 100vh;
      }
    /* Controles de pannellum, zoom y full screen */
   
    .ctrl {
        position: absolute;
        z-index: 2;
        right: 5px;
        bottom: 0px;
        height: 40px;
        width: 40px;
        text-align: center;
        background-image: url("svg/fullscreenBlanco.svg");
        cursor: pointer;
        margin-bottom: 20px;
        margin-right: 5px; 
        background-size:cover;
        background-position: center;
        transition: width 0.5s, height 0.5s;
    }


    /* iconos visita guiada */
       .icono_right,
       .icono_menu,
       .icono_pp,
       .icono_left{
        z-index: 2;
        height: 65px;
        width: 65px;
        background-image: url("svg/fullscreenBlanco.svg");
        cursor: pointer;
        background-size:cover;
        background-position: center;
        transition: width 0.5s, height 0.5s;
        }
  
      .icono_right { 
        background-image: url("svg/rightarrow.svg");
      }
       .icono_menu { 
        background-image: url("svg/guided_menu.svg");
      }
       .icono_pp { 
        background-image: url("svg/pp.svg");
      }
      .icono_left { 
        background-image: url("svg/leftarrow.svg");
        transform: rotate(180deg);
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Safari 3-8 */
      }

      .transformar_click {
        height: 65px;
        width: 65px;
      }

    /* fin iconos visita guiada */
 

/* ICONO SENSIBLE AUDIO GUIADA */

.icono_audio {
  position: absolute;
  height: 35px;
  width: 35px;
  background-image: url("svg/audio_menu.svg");
  cursor: pointer;
  background-size:cover;
  background-position: center;
  z-index: 2;
  display: none;
  top: 5px;
}

#audio_guiada {
display: block;
}

/* CARTEL MENSAJE AL INICIAR GUIADA */

#mensaje_guiada {
  display: none;
  position:absolute;
  width: 600px;
  height: 600px;
  background-color: rgba(17, 17, 17, 0.8);
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  border-radius: 2%;
}

#mensaje_guiada h3 {
  margin-top: 30px;
  color: white;
}

#boton_mensaje{
  text-align: center;
  color: crimson;
  font-size: 60px;
  font-weight: bold;
  cursor: default;
}

.mensaje_guiada_inicio_recomendacion{
 color:white;
}

.mensaje_guiada_inicio_recomendacion p{
  margin-top: 10px;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
 }

 .mensaje_guiada_inicio_recomendacion ol {
  list-style: none; /*lower-roman;*/
  counter-reset: li;
  position: relative;
  left: 40px;
  width: 500px;
  margin: 0;
  padding: 0;
  margin-top: 30px;
}

.mensaje_separador,
.mensaje_separador_negro{
  margin: 10px auto;
  border:0;
  height: 2px;
  

}

.mensaje_separador{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

.mensaje_separador_negro{
  width: 70%;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(10, 10, 10, 0.75), rgba(255, 255, 255, 0));
}

.mensaje_guiada_inicio_recomendacion ol li {
  padding:8px;
  border-left: 1px;
  font-size: 0.89em;
}

.mensaje_guiada_inicio_recomendacion ol li::before {
  content: counter(li); 
  color: rgb(59, 248, 84);
  display: inline-block; width: 1em;
  margin-left: -1em;
  font-size:1.7em;
}

.mensaje_guiada_inicio_recomendacion ol li {counter-increment: li}

#boton_aceptar_guiada{
  position: absolute;
  margin: auto;
  display: block;
  bottom: 20px;
  left: 0;
  right: 0;
  height: 50px;
  width: 60px;
  cursor: pointer;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("svg/check.svg");
  transition: width 0.5s, height 0.5s;
}

#boton_aceptar_guiada:hover {
  height: 60px;
  width: 70px;
}

/* FIN CARTEL MENSAJE AL INICIAR GUIADA */

/* MENU */

.overlay_menu {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
}

.contenido_menu {
  padding-top: 100px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 500px;
 /* position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%)*/
}



.cerrar_menu {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 45px;
  font-weight: bold;
  cursor: default;
}

.cerrar_menu:hover {
  color: crimson;
}

.boton_menu {
  position: absolute;
  top: 20px;
  left: 5px;
  height: 30px;
  width: 30px;
  background-image: url("svg/botonmenu.svg");
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 3;
  cursor: pointer;
  
}

.cuadrado {
  width: 160px;
  height: 160px;
  background-color: #ffffff;
  margin: 12px;
  border-radius: 10px;
  cursor: pointer;
  color: black;
}

.fila1,
.fila2{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.imagen {
  display: block;
  width: 100%;
  height: 100%;
  border-radius:15%;
  cursor: default;
}

.container_imagen {
  position: relative;
  width: 180px;
  height: 180px;
  margin:15px 15px;
  cursor: pointer;
  
  /*opacity: 0.7;*/
  
}

/* CONTROLES VISITA GUIADA */

.menu_vguiada {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  margin:0 auto;
  bottom: 10px;
  cursor: default;
  width: 100%;
}

#menu_guiada_show {
  display: none;
}

.menu_vguiada ul {
  display: flex;
  /*si lo quitas aparece 40 padding left en el menu*/
  padding-left: 0 !important;
  list-style:none;
}

.menu_vguiada ul li {
  margin: 0 10px;
}

.titulo_guiada {
  position: absolute;
  z-index: 2;
  right: 40px;
  top: 20px;
  font-size: 1.7em;
  color: white;
  font-weight: bold;
  border-bottom: 3px solid crimson;

}

/* FIN CONTROLES GUIADA */
.overlay_imagen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 15%;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.53);
}

.container_imagen:hover .overlay_imagen {
  opacity: 0;
}

.texto {
  color: white;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin-top: 50px;


  
}


  

/* FIN MENU */
#contenedorAudio {
    z-index: 101;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    cursor: default;
}

.ventanaAudio {
    display: none; 
    position: fixed; 
    z-index: 2; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.6); 
}




/* icono de escaleras */
 .custom-hotspot-escaleras {
        width: 40px;
        height: 40px;
        background-image: url("svg/elevator.svg");
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: width 0.5s, height 0.5s;
        opacity: 0.6;
    }

.custom-hotspot-escaleras:hover {
    width: 50px;
    height: 50px;
    opacity: 0.85;
}

.custom-hotspot-info,
.custom-hotspot-salto,
.custom-hotspot-atras,
.custom-hotspot-audio,
.custom-hotspot-info2,
.custom-hotspot-video{
        width: 30px;
        height: 30px;
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: width 0.5s, height 0.5s;
        opacity: 0.6;
    }

.custom-hotspot-info {background-image: url("svg/eyeBlanco.svg");}
.custom-hotspot-info2 {background-image: url("svg/info3.svg");}
.custom-hotspot-salto {background-image: url("svg/saltoBlanco.svg");}
.custom-hotspot-atras {background-image: url("svg/puertaBlanco.svg");}
.custom-hotspot-audio {background-image: url("svg/long-play-record-cover.svg");}
.custom-hotspot-video {background-image: url("svg/video-player.svg");}


.custom-hotspot-info:hover,
.custom-hotspot-salto:hover,
.custom-hotspot-atras:hover,
.custom-hotspot-audio:hover,
.custom-hotspot-video:hover{
  width: 40px;
  height: 40px;
  opacity: 0.85;
}

/* Audio */


/* Copia del id que aparece para la visita guiada solo con el nombre copiado */
#panel_audio_libre {
  position:absolute;
  z-index: 100;
  top: 15px;
  left: 50px;
  padding: 0;
  display: none;
}

#panel_audio_guiada {
  position:absolute;
  z-index: 100;
  top: 15px;
  left: 50px;
  padding: 0;
  display: none;
}
/*X que aparece al lado del audio arriba */
.botonPause {
  position: relative;
  float: right;
  left: 10px;
  top:8px;
  z-index: 100;
  cursor:default;
  height: 20px;
  width: 20px;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: width 0.5s, height 0.5s;
  background-image: url("svg/mostrar_menos.svg");

}

.botonPause:hover {
  height: 24px;
  width: 24px;
}


/*usado para visita guiada */
#panelAudio {
    position: absolute;
    z-index: 100;
    top: 1%;
    left: 50px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    cursor: default;
}

#botonAudio {
  display: none;
}

#botonAudio1 {
    position: absolute;
    top: 20px;
    left: 10px;
    z-index: 100;
    height: 30px;
    width: 30px;
    background-size:cover;
    background-position: center;
    transition: width 0.5s, height 0.5s;
    background-image: url("svg/audio.svg");
   cursor: pointer;
}

/* PANEL INFORMACION */

.mas_imagenes {
  height: 40px;
  width: 40px;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("svg/gallery_icon.svg");
  margin:0 auto;
}

.mas_img_div p{
  font-size: 0.8em;
  font-weight: bold;
}

.mas_img_div{
  cursor:pointer;
  position:absolute;
  bottom:5px;
  left:70%;
  transform:translateX(-70%);
  z-index: 4;
  color:white;
  font-weight: normal;
  font-size: 0.9rem;
}

/* fondo negro cuando se abre */
.overlay {
  background: rgba(0,0,0,.5);
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#GmyModal{
  z-index: 5;
}
.modal {
  visibility: hidden;
  z-index: 2;
}
/* contenido */
.modal__contents {
  z-index: 4;
  background: white;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 0 auto;
  transform: translate(-50%,-50%);
  cursor: default;
  border-radius: 5px;
}

/* titulo */
.modal__contents h1 {
   z-index: 4;
  margin: 0;
  padding: 0;
  line-height: 32rem;
  text-align: center;
  display: block;
  
}
/* icono de cierre */
.modal__close {
   z-index: 4;
  display: block;
  position: absolute;
  right: 1rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.8em;
  color:rgb(72, 72, 72)
}

#modal_video{
  display:none;
}

.modal__close:hover {
    color:crimson;
  }
  	 
/*Media queries */

/* -----------ordenador ----------- */
@media screen and (min-width : 1800px){
  
   #gallery img{
    height: 300px;
  }
  
  .Gmodal-content {
    width: 75%;
    max-width: 1000px;
  }
  #texto {
    padding:5px !Important;
    font-size: 1em;
    height:400px;
  }

  .modal__contents {
    width: 80vh;
    height:95vh;
  } 
  
}
/* -----------portatil ----------- */
@media screen 
  and (min-width : 1200px)
  and (max-width :1799px){
  
  #gallery img{
    height: 250px;
  }
  #texto {
    padding:5px !Important;
    font-size: 0.9em;
    height:300px;
    
  }
  .modal__contents {
    width: 80vh;
    height:90vh;

  } 
    
  .Gmodal-content {
    width: 65%;
    max-width: 650px;
  }

  
  
}
/* -----------tablet ----------- */
@media screen 
  and (min-width : 900px)
  and (max-width :1199px){
  
  #gallery img{
    height: 200px;
  }
  #texto {
    padding:5px !Important;
    font-size: 0.8em;
    height:250px;
  }
    .Gmodal-content {
    width: 60%;
  }

  .modal__contents {
    height:90vh;
    width: 90vh;

  } 
  
}
/* -----------tablet/movil ----------- */
@media screen and (max-width :899px){

  

  
  #gallery img{
    height: 200px;
  }
    
  #texto {
    padding:5px !Important;
    font-size: 0.7em;
    height:450px;
  }
  
  .modal__contents {
  	height: 100%;
    width: 100%;
    margin: 0 auto;
    border-radius: 0;
  }
    
  .Gmodal-content {
    width: 80%;
  }
  
}
        
  #texto{
    padding-right: 2%;
    padding-left: 2%;
    text-align: left;
    border:none;
    overflow-y:auto;
    cursor: default;
    width:95%;
    overflow-x: auto;
    font-size:0.8em;
    margin-left:5px;
    text-align: justify;
    
  }
  #titulo{
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
  }
  #gallery img{
    position: relative;
    max-height: 300px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto; 
  }

  #gallery{
    position:relative;
  }


          
.Gmodal {
  display: none;
  position: fixed;
  z-index: 5;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.85);
}

/* Contenido del modelo */
.Gmodal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
}

/* Cerrar galeria */
.Gclose {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.Gclose:hover,
.Gclose:focus {
  color:crimson;
  text-decoration: none;
  cursor: pointer;
}

.GmySlides {
  display: none;
}

.Gcursor {
  cursor: pointer
}

/* Botones siguiente y atras*/
.Gprev,
.Gnext {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #ff0000;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Boton siguiente posicionarlo a la derecha*/
.Gnext {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Añadir background negro  */
.Gprev:hover,
.Gnext:hover {
  background-color: rgba(0, 0, 0, 0.9);
}


/* ESCALERAS */

.modalEscaleras {
    display: none; 
    position: fixed; 
    z-index: 100; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.6); 
}



.plantas {
    display: block;
    margin: auto;
    font-size: 1.2em;
    padding: 22px 16px;
    color:white;
    width: 30%;
    border: none;
    background-color: #3b3b3b;
    outline: none;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 2;
}

.plantas::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #ffffff;
    transition: width .3s;
}

.plantas:hover::after {
    width: 100%;
    transition: width .3s;
    
}

.plantas:hover {
   background-color: #535353;
}


.plantaElegida {
  
  background-color: #222222;
}

/* menu slider temporal */

.main {
  z-index: 3 !important;
  position: absolute;
  bottom: 120px;
  font-family:Arial;
  width:815px;
  display:none;
  left: 0;
  right: 0;
  margin: auto
}
      
.titulo_slider {
  width: 130px;
  height: 130px;
  margin: 1px;
}

.highlight_slider {
  border-top: solid 4px crimson;
  padding-top: 3px;
}

.titulo_slider img{
  background-image: contain;

  
}

/* menu slider temporal */

.slider-nav:hover {
  cursor: pointer;
}

#video_visita_libre{
  z-index: 3;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

/* DOCUMENTO */

#mostrarDocumento{
  z-index: 5;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  width:80%;
  height: 98%;
}

#documentoPanel{
  display:none;
}

.cerrarDocumento, .cerrarVideo{
  z-index:5;
  display: block;
  position: absolute;
  right:1rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 2.5em;
  color:white;
}

.cerrarDocumento:hover, .cerrarVideo:hover{
  color:crimson;
}

#botonDoc{
  display:block;
  margin:10px auto;
	font-family: "Helvetica Neue", Arial, sans-serif;
	cursor: pointer;

}

.flecha{
  font-size:1.5em;
  font-weight: bold;
  color:#002c59;
  transition: all 0.5s ease;
}

.flecha:hover{
  color:#0d69c5;
}
