.pisos{
    height: 100%;
    width: 100%;
	background-size: 100% 100%;
}
.pisos_config{
	height: 100%;
	background-size: 100% 100%;
}

#mapa_escena{
    z-index: 2;
    overflow: visible;
    position: relative;
    display: inline-grid;
    margin-left: 15px;
}
#mapa_escena_hotspot{
    z-index: 2;
    overflow: visible;
    position: relative;
    display: inline-grid;
}
.botones_mapa{
    float: right;
    display: inline-grid;
    margin-right: 15px;
    width: 20%;
}
.puntos{
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    position: absolute;
}
.punto_inicial{
    width: 1.5%;
    height: 2.5%;
    border-radius: 50%;
    background: maroon;
    position: absolute;
}

#btn-subir-piso, #btn-bajar-piso, #btn-admin-mapa{
	float: right;
	position: relative;
}
.tooltip {
    visibility: hidden;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;

    position: absolute;
    z-index: 1;
}