.pisos, .pisos-admin{
    height: 100%;
    width: 100%;
	background-size: 100% 100%;
}
.pisos_config{
	height: 100%;
	background-size: 100% 100%;
}
#mapa_escena_hotspot, #mapa_guiada, #mapa_config_mapa, #mapa_configuracion, #mapa_escena{
    z-index: 2;
    overflow: visible;
    position: relative;
    display: inline-grid;
}
#mapa_escena{
    margin-left: 15px;
}

.puntos, .puntos-draggables{
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    position: absolute;
}
.puntos-draggables{
    background: yellow;
}
.punto_inicial{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: maroon;
    position: absolute;
}


.tooltip {
    visibility: hidden;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;

    position: absolute;
    z-index: 1;
}
