
    /* IMPORTART FUENTES QUE UTILIZAMOS */
    @font-face {
        font-family: "Oswald";
        src: url("../fonts/Oswald-Regular.ttf");
    }
    @font-face {
        font-family: "Ubuntu";
        src: url("../fonts/Ubuntu-Regular.ttf");
    }
    @font-face {
        font-family: "Aleo";
        src: url("../fonts/Aleo-Regular.ttf");
    }
    @font-face {
        font-family: "Comfortaa";
        src: url("../fonts/Comfortaa-Regular.ttf");
    }
    @font-face {
        font-family: "PatrickHand";
        src: url("../fonts/PatrickHand-Regular.ttf");
    }
    @font-face {
        font-family: "Roboto";
        src: url("../fonts/Roboto-Regular.ttf");
    }

	/* MODALES */
	a.cerrar{
		position: relative;
		left:90%;
	}

	div#modificar, div#insertar{
		display: none;
		position: absolute;
		width: 100%;
		top: 25%;
		z-index: 100;
	}
