
    /* IMPORTART FUENTES QUE UTILIZAMOS */
    @font-face {
        font-family: "Oswald";
        src: url("../fonts/Oswald-Regular.ttf");
    }
    @font-face {
        font-family: "Ubuntu";
        src: url("../fonts/Ubuntu-Regular.ttf");
    }
    @font-face {
        font-family: "Aleo";
        src: url("../fonts/Aleo-Regular.ttf");
    }
    @font-face {
        font-family: "Comfortaa";
        src: url("../fonts/Comfortaa-Regular.ttf");
    }
    @font-face {
        font-family: "PatrickHand";
        src: url("../fonts/PatrickHand-Regular.ttf");
    }
    @font-face {
        font-family: "Roboto";
        src: url("../fonts/Roboto-Regular.ttf");
    }

	/* DRAG AND DROP CSS */

	#drop_file_zone {
        margin: 0 auto;
          background-color: gray; 
          border: #999 5px dashed;
          width: 80%; 
          height: 400px;
          padding: 8px;
          font-size: 18px;
		  overflow:scroll;
		  margin-bottom: 10px;
	  }
	  
	  img.imagenesDragDrop{
        border-radius: 20px;
		display: block;
		position: relative;
		margin: 0 auto;
		padding-top: 5px;
		padding-bottom: 5px;
	  }

	  #drop_file_zone input[type='file']{
		  display: none;
	  }

	  /* ./ FIN DRAG DROP CSS */


	  /* estilos editorQUILL */

	  div#editor * {
		  color:black;
	  }

	  /* ./fin estilos editorQUILL*/

	  /*buttons app*/


	  /*modify hotspots panel info imgs */

	  .borderojo{
		border:2px solid #bd5916;
		opacity:1 !important;
		}
	
	.imgHS{
		margin:2px;
		opacity:0.5;
	}

	/*./fin hotspot panel info imgs*/






	  
