

  article{
    margin-top:40px;
    background:#a5a4a4;
    padding:20px;
  }
  /*Modal ventana*/
  .modalita{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.5);
    display: none;
    z-index:1000000000;
  }
   .modalita2{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.5);
    display: none;
    z-index:1000000000;
  }
      .btn {
     background-color: transparent;
      -webkit-border-radius: 5;
      -moz-border-radius: 5;
      border-radius: 5px;
      -webkit-box-shadow: 2px 2px 4px #666666;
      -moz-box-shadow: 2px 2px 4px #666666;
      box-shadow: 2px 2px 4px #666666;
      font-family: Arial;
      color: #ffffff;
      font-size: 20px;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
      
    }

    .btn:hover {
      background: #3cb0fd;
      background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
      background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
      text-decoration: none;
      cursor:pointer;
    }

.btn-2 {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-2:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.fondo{
      background: url(estanteria-biblioteca.jpg);
      width:100%;
      height:650px;
      
    }
    .columna{
      width:100px;
      margin-left:50px;
      margin-top:175px;
    }
    .estanteria img{
    width: 65px;
    height: 80px;
    float: left;
    text-align: center;
    position: relative;
    margin-left: 30px;
   -webkit-box-shadow: 10px -11px 10px 4px rgba(0,0,0,0.6);;
    -moz-box-shadow: 10px -11px 10px 4px rgba(0,0,0,0.6);;
    -ms-box-shadow: 10px -11px 10px 4px rgba(0,0,0,0.6);
    -o-box-shadow: 10px -11px 10px 4px rgba(0,0,0,0.6);;
    box-shadow: 10px -11px 10px 4px rgba(0,0,0,0.6);;
    -webkit-transition: -webkit-transform 0.1s;
    -webkit-transform: translate(0, 0);
    -moz-transition: -moz-transform 0.1s;
    -moz-transform: translate(0, 0);
    -ms-transition: -ms-transform 0.1s;
    -ms-transform: translate(0, 0);
    -o-transition: -o-transform 0.1s;
    -o-transform: translate(0, 0);
    transition: transform 0.1s;
    transform: translate(0, 0);
}

/*AQUIIIII*/
/* Float Shadow */
.efectBook {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 15px rgba(19, 18, 18, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.efectBook:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.efectBook:hover, .efectBook:focus, .efectBook:active {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  /* move the element up by 5px */
}
.efectBook:hover:before, .efectBook:focus:before, .efectBook:active:before {
  opacity: 1;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

.nuevecica{
      margin-left: 18%;
    /* margin-top: 10%; */
    padding-top: 27%;
}




	
#bloque{
	width:990px;
	height:700px;
	margin:0 auto;
	margin-top:-50px;
		    
}
#flipbook{
	width:92%;
	height:92%;
	margin:4% auto;
		
}
.hard{
	background-color:#CCC;
}
.pag{
	background-color:#F0E68C;
}

	
.pag article img{
	width:94%;
	height:90%;
	margin:0% auto;
	margin-top:2.5%;
	margin-bottom:2.5%;
}
	
.prev_page{
	position:fixed;
	margin-top:300px;
	margin-left:-75px;
	padding:10px;
	background-color:#D8D8D8;
	border-radius:5px;
}
.next_page{
	position:fixed;
	margin-left:1015px;
	margin-top:300px;
	padding:10px;
	background-color:#D8D8D8;
	border-radius:5px;
}
	
.cerrar{
	color:black;
	font-size:43px;
	margin-top:-40px;
}





#tablaadmin{
	width: 90% !important;
    margin: 0 auto !important;
    text-align: center !important;
}	
